<!DOCTYPE html>
<html>
  <head>
    <title>Action Socket</title>
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Action Socket</h1>
    <h3>Session: <a href="/?join={{.}}">{{.}}</a></h3>
    <br/>

    <div class="message-form">
      <div class="form-input">
        <label for="message-type">Message Type:</label>
        <select id="message-type">
          <option value="BROADCAST">BROADCAST</option>
          <option value="BROADCAST_OUT">BROADCAST_OUT</option>
          <option value="COLLATE">COLLATE</option>
          <option value="COLLATE_AND_DROP_ONE">COLLATE_AND_DROP_ONE</option>
          <option value="CONSENSUS">CONSENSUS</option>
          <option value="QUORUM">QUORUM</option>
          <option value="DIRECT">DIRECT</option>
        </select>
      </div>
      <div id="quorum-form-input" class="hidden">
        <div class="form-action">
          <label for="message-quorum">Quorum:</label>
          <input type="number" id="message-quorum"></input>
        </div>
      </div>
      <div id="address-form-input" class="hidden">
        <div class="form-action">
          <label for="message-addresses">Addresses:</label>
          <input type="text" id="message-addresses"></input>
        </div>
      </div>
      <div class="form-input">
        <label for="message-action">Action:</label>
        <input id="message-action"></input>
      </div>
      <div class="form-input">
        <label for="message-input">Input:</label>
        <textarea id="message-input"></textarea>
      </div>
      <div class="form-input">
        <button type="button" onclick="send()">Send</button>
      </div>
    </div>
    <br/>
    <div class="output-display">
      <h3>Incoming Messages:</h3>
      <div id="incoming-messages"></div>
    </div>
  </body>
  <script>
    socket = new WebSocket("ws://localhost:8080/socket/{{.}}");

    socket.onmessage = event => {
      const msgData = document.createElement('pre')
      msgData.innerText = event.data
      document.querySelector('#incoming-messages').appendChild(msgData)
    }

    function checkFormFields(event) {
      if (event.target.value == 'DIRECT') {
        document.querySelector('#address-form-input').classList.remove('hidden')
      } else if (event.target.value == 'QUORUM') {
        document.querySelector('#quorum-form-input').classList.remove('hidden')
      } else {
        document.querySelector('#address-form-input').classList.add('hidden')
        document.querySelector('#quorum-form-input').classList.add('hidden')
      }
    }
    document.querySelector('#message-type').addEventListener('change', checkFormFields)

    function send() {
      const messageType = document.querySelector('#message-type')
      const messageAction = document.querySelector('#message-action')
      const messageInput = document.querySelector('#message-input')
      const messageQuorum = document.querySelector('#message-quorum')

      const action = messageAction.value
      const method = messageType.value
      const payload = messageInput.value ? JSON.parse(messageInput.value) : null
      const quorum = messageQuorum.value ? Number(messageQuorum.value) : null
      const msg = { method, action, payload, quorum }

      if (method === "DIRECT") {
        const messageAddresses = document.querySelector('#message-addresses')
        msg.addresses = (messageAddresses.value ? messageAddresses.value : "").split(",").map(x => x.trim())
      }

      socket.send(JSON.stringify(msg))
    }
  </script>
</html>
